.credits-container {
  background-color: rgb(253, 211, 217);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.button-left {
  height: 40px;
  width: 60px;
  position: absolute;
  cursor: pointer;
  background-color: green;
}

.button-right {
  height: 40px;
  width: 60px;
  position: absolute;
  cursor:pointer;
  right: 300px;
  background-color: blue;
}

.slider {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease-out;
}

.credits-img-container {
  width: 100vw;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.item {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  border: 2px solid;
  border-color:black;
}

.left {
  flex: 4;
  height: 57vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-container {
  margin-left: 10px;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc-container {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 8;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img {
  width: 700px;
}

