.home-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-color: rgb(253, 211, 217);
  height: 100vh;
}

.home-photo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  width: 100vh;
  margin-top: 6em;
}

.home-photo1 {
  height: 350px;
  margin-bottom: 400px;
  margin-right: 1em;
  margin-left: 2em;
  box-shadow: 5px 10px #888888;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: both;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.home-photo2 {
  height: 350px;
  margin-right: 1em;
  box-shadow: 5px 10px #888888;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-delay: 2.5s;
  animation-fill-mode: both;

  @keyframes fadeInAnimation {
    0%{
      opacity: 0;
      background-image: none;
    }
    100% {
      opacity: 1;
    }
  }
}
.home-photo3 {
  height: 350px;
  margin-top: 400px;
  box-shadow: 5px 10px #888888;
  animation: fadeInAnimation ease 3s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.home-title-container {
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
margin-top: 12em;
margin-left: 5em;
}

.actor {
  margin-top: 1em;
  margin-right: 43em;
  font-family: 'Poiret One', cursive;
  color: white;
  position: fixed;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: both;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.stunt-performer {
  margin-top: 7em;
  margin-right: 24em;
  font-family: 'Poiret One', cursive;
  color: white;
  position: fixed;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-delay: 2.5s;
  animation-fill-mode: both;

  @keyframes fadeInAnimation {
    0%{
      opacity: 0;
      background-image: none;
    }
    100% {
      opacity: 1;
    }
  }
}

.social-media {
  font-family: 'Poiret One', cursive;
  color: white;
  position: fixed;
  width: 10vh;
  margin-top: 14.5em;
  margin-right: 8em;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-delay: 4s;
  animation-fill-mode: both;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.home-photo4 {
  margin-top: 25em;
  height: 400px;
  position: absolute;
  transform: rotate(180deg);
}
.home-photo5 {
  margin-top: 5em;
  margin-left: 61em;
  height: 250px;
  position: absolute;
  transform: rotate(130deg);
}

