.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(253, 211, 217);
  height: 100vh;
}

.home-photo1-container {
  display: flex;
  align-items: center;
  flex-direction:row;
  background-color: rgb(253, 211, 217);
  width: 100%;
  height: 270px;
}

.home-photo2-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(253, 211, 217);
  color: white;
  width: 100%;
  height: 270px;
  font-family: 'Playfair Display', serif;
}

.home-photo3-container {
  display: flex;
  align-items: center;
  flex-direction:row-reverse;
  background-color: rgb(253, 211, 217);
  color: white;
  width: 100%;
  height: 270px;
  font-family: 'Playfair Display', serif;
}

.home-photo1 {
  width: 220px;
  height: 270px;
}
.home-photo2 {
  width: 220px;
  height: 270px;
}
.home-photo3 {
  width: 220px;
  height: 270px;
}