.pictures-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../../public/photos/rainbow.png");
}

.gallery_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.pictures_photo1 {
  height: 350px;
  padding: .5em;
}
.pictures_photo2 {
  height: 350px;
  padding: .5em;
}
.pictures_photo3 {
  height: 350px;
  padding: .5em;
}
.pictures_photo4 {
  height: 350px;
  padding: .5em;
}
.pictures_photo5 {
  height: 350px;
  padding: .5em;
}
.pictures_photo6 {
  height: 350px;
  padding: .5em;
}