.pictures-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(253, 211, 217);
}

.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
}

.pictures-photo1 {
  height: 400px;
  padding: 2em;
}

.photo-description {
  color: white;
  font-family: 'Poiret One', cursive;
  padding: 2em;
}

.pic-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  margin-top: 30em;
  background-color:rgb(253, 211, 217) ;
}

.pic-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  margin-top: 57em;
  background-color:rgb(253, 211, 217) ;
}

.pic-container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  margin-top: 30em;
  background-color:rgb(253, 211, 217) ;
}